/* --- FONTS --- */
@font-face {
  font-family: "CozetteVector";
  src:
    local("CozetteVector"),
    url("/fonts/CozetteVector.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  src:
    local("NotoSans"),
    url("/fonts/NotoSans.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans-cn";
  src:
    local("NotoSans-cn"),
    url("/fonts/NotoSerifCJKsc-VF.ttf") format("truetype");
}

.cozette * {
  font-family: "CozetteVector";
}

.cozette-force * {
  font-family: "CozetteVector" !important;
}

.NotoSans * {
  font-family: "NotoSans";
}

.NotoSans-cn * {
  font-family: "NotoSans-cn";
}

/* fuck it */
body * {
  font-family: "CozetteVector";
}

@media print {
  .hide-on-print {
    display: none;
  }
}
@media not print {
  .hide-if-not-print {
    display: none;
  }
}

.include-in-print {
  &,
  & * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

html {
  background: var(--background1);
}

body {
  font-family: NotoSans, var(--main-font);
  color: var(--text1); /* Default to primary text color. */
  background-color: var(--background);
  margin: 0;
}

code {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.3;
  letter-spacing: 0.32px;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: #333333;
}

.hidden {
  display: none;
}
